.main{
  margin-top: 30px;
  width: 400px;
  height: 500px;
}
.cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
   border: 1px solid black;
}
h2{
 width: 100%;
}
.small{
  color: red;
}


.btn{
margin-left: 20px;
}
sup{
  color: red;
  font-weight: 300;
  font-size: 10px;
}
